layout: index
subtitle: Simplify eCommerce to China with your store!
comment: false
is_home: true
---


ul#intro-feature-list
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-code
            h3.intro-feature-title Simple API
            p.intro-feature-desc Start accepting payments on your website with our Java or PHP or NET libraries.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-cogs
            h3.intro-feature-title Many Plugins
            p.intro-feature-desc Pilibaba plugins for 3rd party software
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-bolt
            h3.intro-feature-title Partners
            p.intro-feature-desc Featured Merchants from Worldwide International eCommerce Partners
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-book
            h3.intro-feature-title Core Services
            p.intro-feature-desc CNY Payment,Shipping to China,Customs Compliance,Chinese Customer Support
